  h1 {
    text-align: center;
  }
  h3 {
    text-align: center;
  }

  .first {
    background-color: rgb(235, 200, 84);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 200px;
    display: block;
    margin: 0 auto;                
  }
  .second {
    background-color: rgb(219, 219, 219);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
    display: inline-block;
    justify-content: center
          
  }
  .third {
    background-color: rgb(170, 142, 106);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
    display: inline-block;
           
  }

  
  .fist-a {
      width: 1000px;
      display: inline-block;
      margin: 0 auto;
      width: 25%;

  }
  .fist-b {
    display: inline-block
  }
  .second-a {
    display: inline-block;
    margin-left: 15%;
  }
  .second-b {
    display: inline-block
  }

  .third-a {
     display: inline-block;
     margin-left: 15%;
  }
  
  .third-b {
     display: inline-block;
    
       }