h1 {
    
    color: whitesmoke;
    background-color: rgb(23, 172, 172);
}

.menu-links li{
    color: whitesmoke;
    background-color: turquoise;
    display: inline-block;
    width: 200px;
}

body {
    width: 800px;
    margin: 0 auto;
}
article {
    width: 50%;
}

#fotoinicialsmatopoda {
    width: 500px;
    
}

#firstsection {
    background-color: royalblue;
}

#stomatopodaquebrandovidro {
    width: 500px;
    
-}
#aside {
    background-color: pink;
}